{% load static %}


<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href={% static 'css/style.css' %}>
    </head>
    <body>

        <div class="wrapper">
            <div class="sidebar">
                <h2><a href="/home">HOME</a></h2>
            <ul>
                <li><a href="about-me">About Me</a></li>
                <li><a href="skill">Skill</a></li>
                <li><a href="intarest">Interest</a></li>
                <li><a href="award">Award</a></li>
                <li><a href="#">Education</a></li>
                <li><a href="#">Experience</a></li>
                
            </ul>
            </div>

            <div class="main_content">
                <div class="header">
                    {% block user_name %}
                    {% endblock user_name %} 
                    Welcome!!
                </div>
                <div class="info">
                    {% block content %}
                    {% endblock content %}
                </div>    
            </div>
        </div>


    </body>

</html>